#navbar{
	background-color: red;
	border-style: none;
}
#brand-img{
	height: 40px;
	margin-top: -11px;
}
.navbar-link{
	font-size: 16px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}
.navbar-link:hover{
	color: #d8d8d8;
}