.sponsors-row{
	padding-top: 150px;
	padding-bottom: 50px;
}
.sponsors-title{
	font-size: 42px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}
.sponsors-text{
	font-size: 18px;
}
.past-sponsors-row{
	padding-top: 150px;
	padding-bottom: 150px;
}