.sponsors-row{
	padding-top: 150px;
	padding-bottom: 20px;
}
.sponsors-title{
	font-size: 42px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}
.sponsors-text{
	font-size: 18px;
}
.past-sponsors-row{
	padding-top: 20px;
	padding-bottom: 150px;
}

#td-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}
#td-img{
	height: 120px;
}
#google-wrapper{
	padding-top: 20px;
	padding-bottom: 40px;
}
#google-img{
	height: 150px;
}
#facebook-wrapper{
	padding-top: 50px;
	padding-bottom: 40px;
}
#facebook-img{
	height: 70px;
}
