body{
	background-color: #f1f1f1;
}
.team-title-row{
	padding-top: 80px;
	padding-bottom: 20px;
}
.team-row{
	padding-bottom: 170px;
}
.team-card{
	width: 100%;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;

	margin-top: 15px;

	background-size: cover;

	height: 225px;
}

.team-img{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.team-description-wrapper{
	display: inline-block;
}
.team-title{
	font-size: 16px;
	position: relative;
	top: 21px;
	color: white;
}
.team-job{
	font-size: 12px;
	position: relative;
	top: 9px;
	color: white;
}
.team-major{
	font-size: 12px;
	position: relative;
	margin-top: -3px;
	color: white;
}
.team-year{
	font-size: 12px;
	position: relative;
	margin-top: -12px;
	color: white;

	padding-bottom: 10px;
}
.team-under-card-wrap{
	padding:10px 15px;
	background-color: #2e2e2e;
}
.team-fun-fact-label{
	font-size: 10px;
	margin-top: -2px;
	margin-bottom: 0px;
	color: white;
}
.team-fun-fact{
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	color: white;
	max-width: 85%;
}
.team-description{
	font-size: 12px;
	position: relative;
	margin-top: -7px;
}
.team-img-wrapper{
	background-color: #2e2e2e;
	padding-top: 15px;	
}
.team-image{
	width: 100%;
	max-width: 700px;
}